.contdest{
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 8rem;
}
/*tablet*/
@media (max-width:800px){
  .contindex{
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}

/*mobile*/
@media (max-width:500px){
  .contindex{
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
}

.contplanetas{
  display: none;
  grid-template-columns: repeat(2,1fr);
}
.imgplanetas{
  width: 70%;
  margin: auto auto;
}
.Moon{
  display: grid;
}

/*tablet*/
@media (max-width:800px){
  .contplanetas{
    grid-template-columns: repeat(1,1fr);
  }
}

.contimgplan{
  display: flex;
  margin: auto auto;
  width: 100%;
}
/*tablet*/
@media (max-width:800px){
  .contplanetas{
    grid-template-columns: repeat(1,1fr);
  }
  .imgplanetas{
    width: 50%;
    margin: auto auto;
  }
  .contimgplan{
    margin-bottom: 4rem;
  }
}

.planetastitulo,.planetasparrafo,.contdisttra{
  margin:1rem 4rem;
  width: 70%;
}

.planetastitulo{
  font-size: 10rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: white;
}

.planetasparrafo{
  font-size: 1.4rem;
  color: rgb(208, 214, 249);
  font-family: 'Barlow Condensed', sans-serif;
  text-align: justify;
  border-bottom: 1px solid rgba(228, 228, 228, 0.3);
  padding-bottom: 4rem;
  line-height: 2.5rem;
  letter-spacing: 0.055rem;
}

.subti{
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(208, 214, 249);
  font-family: 'Barlow Condensed', sans-serif;

}

.contdisttra{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.titulotradis{
  font-size: 2.8rem;
  color: white;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin-top: 1rem;
}
/*tablet*/
@media (max-width:800px){
  .contdisttra{
    padding-top: 4rem;
  }
  .planetastitulo{
    font-size: 8rem;
  }
  .planetastitulo,.planetasparrafo,.contdisttra{
    margin: 0rem;
    text-align: center;
    width: 100%;
  }
  .planetasparrafo{
    width:70%;
    padding: 4rem 4rem;
    margin:0rem 10rem;
  }
}

/*mobile*/
@media (max-width:500px){

  .planetastitulo{
    font-size: 6rem;
  }

  .planetasparrafo{
    width:90%;
    padding: 3rem 2rem;
    margin:auto auto;
  }
  .contdisttra{
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
  }
}

.submenuplan{
  
  display: flex;
  gap: 4rem;
  margin-left: 4rem;
  
}

.cnm{

  display: grid;
  font-size: 1.6rem;
  font-family: 'Barlow Condensed', sans-serif;
  cursor: pointer;
}

.ms{
  color: #bcc2cb;
  padding: 1rem 0rem;
  margin-bottom: 3rem;
  border-bottom: 2px rgba(228, 228, 228, 0) solid;
  
}
.ms:hover{
  color: white;
  border-bottom: 2px white solid;
}
.moon{
  color: white;
  border-bottom: 2px white solid;
}

/*tablet*/
@media (max-width:800px){
  .submenuplan{
    
    margin-left: 0rem;
    margin: auto auto;
  }
}